.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    width: 100%;
    background-color: #008080; /* Teal color for the dashboard */
    color: white; /* Text color */
    text-align: center;
  }
  
  .logo {
    width: 100%;
    aspect-ratio: 2; /* Keeps the image's aspect ratio */
    object-fit: cover; /* Ensures the image covers the space without distortion */
  }
  
  .button {
    display: flex;
    justify-content: center;
    width: 185px;
    padding: 15px;
    margin-top: 20px;
    background-color: #008080; /* Teal background for the buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #006666; /* Slightly darker teal on hover */
  }
  