.clientDashboardContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 11px 10px;
  background-color: #008080;
  color: white;
  text-align: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 0;
}

.clientLogoContainer {
  background-color: white; /* Add white background */
  padding: 20px; /* Adjust padding to create space around the logo */
  border-radius: 50px; /* Ensure consistent rounded corners */
  overflow: hidden;
  margin-bottom: 150px;

}

.clientLogo {
  width: 100%;
  object-fit: contain;
}

img.clientLogo {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.clientButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  padding: 15px;
  margin-top: 20px; /* Reduced margin for better spacing */
  background-color: #008080;
  /* background-color: #00B8B8 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adding shadow for better button appearance */
}

.clientButton:hover {
  background-color: #027575;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Darker shadow on hover */
}

.clientButton.active {
  background-color: #006666;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Pressed button effect */
  transform: translateY(2px); /* Slightly moves button down on click */
}

