html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  height: 100%; /* Ensure the flex container covers the entire height */
  padding: 0; /* Remove padding to ensure full height */
}

.dashboard-container {
  flex: 0.5; /* Change how much of the screen it covers */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin: 0; /* Remove margin */
}

.search-container {
  flex: 2; /* Adjust the width of the search section */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin: 0; /* Remove margin */
  background-color: #BDDEDE;    
  border-left: 15px solid white;
}

.search-input input[type="text"] {
  width: 600px;
  max-width: 800px;
  padding: 0.5rem 1rem;
  border: 2px solid #ddd;
  border-radius: 1rem;
  font-size: 1rem;
  background: #ffffff;
  transition: border-color 0.3s;
  padding-left: 40px;
}

.search-input input[type="text"]:focus {
  border-color: #0056b3;
  outline: none;
}

.search-results {
  width: 100%;
  max-width: 870px;
  margin-top: 1rem;
}

.result-item {
  background: #ffffff;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.result-name,
.result-email {
  font-size: 1.2rem;
}

.result-email {
  color: #555;
}

.search-input {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: -50px; /* Adjust the left position as needed */
    transform: translateY(-40%);
    color: #555; /* Adjust the color of the icon */
    font-size: 1.5rem;
  
  }
  
  .search-input input[type="text"] {
    padding-left: 30px; /* Adjust padding to make space for the icon */
  }
  
  .admin-info {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: #333;
  }
  
  .admin-name {
    margin-right: 10px;
  }
  
  .admin-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    /* Additional styles for the circle icon */
  }
