.flex {
    display: flex;
    height: 100vh;
    padding: 0;
    margin: 0;
}


.quizModuleContainer {
    margin-left: 20%; /* Ensure it starts after the ClientDashboard */
    flex: 1; /* Take remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
    background-color: #BDDEDE;  
    
}

.quizModuleresults {
    padding-top: 20px;
    
}

.module-link{
    text-decoration: none;
    color: black;
    display: block;
    width:70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the module boxes horizontally */
    padding: 60px; /* Add padding to the module boxes */
    margin-bottom: 20px; /* Add some space between module boxes */
    background-color: #ffffff; /* Background color */
    border-radius: 15px; /* Add curved edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    cursor: pointer;
}

.module-item {
    width:70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the module boxes horizontally */
    padding: 60px; /* Add padding to the module boxes */
    margin-bottom: 20px; /* Add some space between module boxes */
    background-color: #ffffff; /* Background color */
    border-radius: 15px; /* Add curved edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    cursor: pointer;
}

.moduleId,
.moduleName,
.moduleDescription {
    margin: 5px 0;
    font-size: 1.3re
    
}

.moduleId {
    font-weight: bold;
}

.moduleName {
    font-weight: bold;
}


/* prac and final quiz buttons:
/* QuizDashboard.css */

/* Styling for the buttons */

