/* General Flex Container */
.flex-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    background-color: #BDDEDE;
}

/* Profile Container */
.my-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50%; /* Space between dashboard and profile */
}

/* Dashboard Container */

/* Profile Content Container */
.client-profile-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    gap: 2px; /* Space between profile details */
    background-color: white;
    padding: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

/* Individual Profile Details */
.client-profile {
    display: flex;
    flex-direction: column; /* Stack details vertically */
    gap: 20px;
    font-size: 24px; /* Space between label and information */
}

/* Detail Containers */
.client-details {
    display: flex;
    justify-content: space-between; /* Space between label and information */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Optional: Add space between label and information */
    width: 575px
}

/* Labels */
.client-label {
    font-weight: bold; /* Make labels bold */
    text-transform: uppercase; /* Convert labels to uppercase */
    text-align: right; /* Right-align labels */
}

/* Information */
.clientFN,
.clientLN,
.clientEM,
.clientsite,
.clientrole {
    font-size: 16px; /* Adjust font size as needed */
}

/* Contact Message */
p {
    text-align: center; /* Center-align the message */
    font-size: 12px; /* Smaller font size for the message */
}
