.flex-questions {
    display: flex;
    height: 100vh; /* Full height of the viewport */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #BDDEDE; 
  }

  
  .make-a-new-question-container {
    display: flex;
    width: 700px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .new-question,
  .new-answers {
    margin-bottom: 10px;
  }
  
  input[name="Question"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  