.question-container {
    background-color: grey;
    height: 100vh;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    margin: 0;

}

.input-box-question {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: white;
    backdrop-filter: blur(2px);
    outline: none;
}

.createanswers {
    list-style:none;
    padding:0;
}

.createanswers ul li {
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid lightblue;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;

}

.add-question{
    font-size: xx-large;
    border-radius: 10px;
    border: 2px dashed #008080;
    background-color: rgba(0, 0, 0, 0);
    color: #008080;
    width: 900px;
    padding: 15px;
    margin-top: 40px;
    cursor: pointer;
}