.loadingbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #ffcc6f);
  }
  
  .loadingtextcont {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .loadingh1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .loadingp {
    color: #666;
    margin-bottom: 10px;
  }
  
  .loadingbody button {
    background: #008080;
    border-radius: 9px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .loadingbody button:hover {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: pointer;
  }