.box-password{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 375px;
    width: 515px;
    border-radius: 30px;
    background-color: #BDDEDE;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    left:6%
}

.box-password-details{
    position: absolute;
    width: 90%;
    left: 27px;
    transition: .5s ease-in-out;
}

.container-password {
    justify-content: center; /* Vertically center items */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 75px;
    padding-left: 25px;
}

.box-password-larger{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 500px;
    width: 515px;
    border-radius: 30px;
    background-color: #BDDEDE;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    left:6%
}
.passinfo{
    align: left;
}