/* Split the screen in half */
.split-survey {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left-survey {
  left: 0;
  background-color: #008080;
}

/* Control the right side */
.right-survey {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered-survey {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.container-survey {
    justify-content: center; /* Vertically center items */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
    padding-left: 125px;
}
.box-survey{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 620px;
    width: 515px;
    border-radius: 30px;
    background-color: #BDDEDE;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}
.box-survey-details{
    position: absolute;
    width: 90%;
    left: 27px;
    transition: .5s ease-in-out;
}
.top-header{
    text-align: center;
    margin: 15px 0;
}
.top-header h3{
    font-size: 35px;
    font-weight: 600;
}
.input-group{
     width: 100%;
    
}
.input-field{
    margin: 12px 0;
    position: relative;
}

.input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: white;
    backdrop-filter: blur(2px);
    outline: none;
}
.input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.input-box:focus ~ label,.input-box:valid ~ label{
    top: 2px;
    font-size: 10px;
    color: #008080;
    font-weight: 500;
}

.input-submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #008080;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
}
.input-submit:hover{
    background:  #006464;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}

#btn{
    position: absolute;
    bottom: 0px;   
    left: 0px;
    width: 145px;
    height: 50px;
    background: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}

.divider {
    border-top: 1px solid black;
    background-color: black;
    height: 1px;
}

.next-to {
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 2px;
}

  .input-field select {
  
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
  }

  .tc{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
  }

  .cb{
    margin-right: 10px;
  }